In [11]:
#https://www.youtube.com/watch?v=_C8kWso4ne4
!pip install pyspark

Requirement already satisfied: pyspark in /Users/jo/opt/anaconda3/lib/python3.8/site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /Users/jo/opt/anaconda3/lib/python3.8/site-packages (from pyspark) (0.10.9.3)

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
#create spark session
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [5]:
#read the data set
df_pyspark = spark.read.csv("test1.csv")

In [6]:
# print dataframe
df_pyspark.show()

+---------+---+----------+------+
|      _c0|_c1|       _c2|   _c3|
+---------+---+----------+------+
|     Name|age|Experience|Salary|
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [19]:
#read dataframe with header option
df_pyspark = spark.read.option("header" , "true").csv("test1.csv")

In [20]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [21]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [13]:
df_pyspark

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [15]:
spark

In [23]:
# infer schema
df_pyspark = spark.read.option("header" , "true").csv("test1.csv", inferSchema=True)
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [24]:
# get columns
df_pyspark.columns

['Name', 'age', 'Experience', 'Salary']

In [25]:
# fetch column
df_pyspark.select('Name').show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
|     Paul|
|   Harsha|
|  Shubham|
+---------+

In [29]:
# Fetch multiple column
df_pyspark.select(['Name', 'age']).show()

+---------+---+
|     Name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
|   Harsha| 21|
|  Shubham| 23|
+---------+---+

In [30]:
# Get data types of columns
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [31]:
# dataframe description
df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  null|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  null| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [32]:
# Adding a new column
df_pyspark.withColumn("Age after two years", df_pyspark['age']+2).show()

+---------+---+----------+------+-------------------+
|     Name|age|Experience|Salary|Age after two years|
+---------+---+----------+------+-------------------+
|    Krish| 31|        10| 30000|                 33|
|Sudhanshu| 30|         8| 25000|                 32|
|    Sunny| 29|         4| 20000|                 31|
|     Paul| 24|         3| 20000|                 26|
|   Harsha| 21|         1| 15000|                 23|
|  Shubham| 23|         2| 18000|                 25|
+---------+---+----------+------+-------------------+

In [34]:
df_pyspark = df_pyspark.withColumn("Age after two years", df_pyspark['age']+2)
df_pyspark.show()

+---------+---+----------+------+-------------------+
|     Name|age|Experience|Salary|Age after two years|
+---------+---+----------+------+-------------------+
|    Krish| 31|        10| 30000|                 33|
|Sudhanshu| 30|         8| 25000|                 32|
|    Sunny| 29|         4| 20000|                 31|
|     Paul| 24|         3| 20000|                 26|
|   Harsha| 21|         1| 15000|                 23|
|  Shubham| 23|         2| 18000|                 25|
+---------+---+----------+------+-------------------+

In [35]:
# Dropping a column
df_pyspark.drop('Age after two years').show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [37]:
# Rename the column
df_pyspark.withColumnRenamed('Age after two years', 'Age+2').show()

+---------+---+----------+------+-----+
|     Name|age|Experience|Salary|Age+2|
+---------+---+----------+------+-----+
|    Krish| 31|        10| 30000|   33|
|Sudhanshu| 30|         8| 25000|   32|
|    Sunny| 29|         4| 20000|   31|
|     Paul| 24|         3| 20000|   26|
|   Harsha| 21|         1| 15000|   23|
|  Shubham| 23|         2| 18000|   25|
+---------+---+----------+------+-----+